<!-- social links -->
<div class="m-t-lg social-container">
  <ul class="contact">
    <li><i class="fa fa-github"></i> <a href="//github.com/atmatrix" target="_blank">github.com/<br />Atmatrix</a></li>
    <% if false %>
    <li><i class="fa fa-slack"></i> <a href="//slack.atmatrix.org" target="_blank">slack.atmatrix.org</a></li>
    <li><i class="fa fa-telegram"></i> <a href="https://t.me/joinchat/ERsuago4xjtA81X1e4G-6w" target="_blank">@atmatrix</a></li>
    <% end %>
    <% # if cn_user? %>
    <li><i class="fa fa-wechat"></i> <a href="javascript:void()">ATMatrixI</a></li>
    <li><i class="fa fa-qq"></i> <a href="javascript:void();">652509213</a></li>
    <% # end %>
    <li><i class="fa fa-envelope"></i> <a href="mailto:contact@atmatrix.org">contact<br />@atmatrix.com</a></li>
  </ul>
</div>
<!-- end of social links -->
