<% @body_class = "landing-page normal" %>

<section class="ico contribution">
  <div class = "container">

    <div class="row">
      <div class="col-md-12 m-t-lg">
        <h1>关于智能矩阵Atmatrix公开售卖（ICO）代币退还公告</h1>
      </div>

      <div class="col-md-12">
        <p>致广大智能矩阵支持者：</p>

        <p>为配合国家对ICO的监管政策，智能矩阵基金会积极主动配合监管要求，与ICO合作渠道共同配合提供智能矩阵退币服务。根据用户参与时使用的方式，请参见下方操作细则</p>

        <p>智能矩阵基金会将持续地推进白皮书中各项技术开发，连接人工智能与区块链，感谢大家对智能矩阵基金会的理解与支持，我们将继续向社区定时公告项目最新进展。</p>

        <p>
          智能矩阵基金会</br />
          2017年9月5号</p>

          <h2>智能矩阵退币操作细则</h2>
          <p>智能矩阵的退币将尽量遵循原路退回的原则，所以从现在开始，智能矩阵代币持有者请尽量不要发生转账，否则可能增加退币流程复杂度。已经转账的智能矩阵地址届时将会有单独的处理方式。具体的智能矩阵退币分以下几种情况:</p>

          <div class="tabs-container m-t-md">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 直投</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"> 平台代投</a></li>
              <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false"> 比特股内盘</a></li>
            </ul>

            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                  <p>直投是指用户从自己的钱包(如imToken，MyEtherWallet, Parity等等)直接转账ETH至直投地址(即项目ICO智能合约地址)，参与兑换ATT代币的方式。</p>
                  <p>参与直投的地址，其代币由 <span class="code">0x0000000000000000000000000000000000000000</span> 发行出来，可通过下方链接工具进行查询自己的地址是否符合退币条件（请注意，输入时请将以太坊地址转换成小写字母进行查询）:</p>

                  <p><a href="https://jinshuju.net/s/79d9zH" target="_blank">https://jinshuju.net/s/79d9zH</a></p>

                  <p>如果你的地址查询后显示有效记录，则可以一次性或者分成几次进行退币操作。只需要通过将ATT发送回地址 <pre>0xaEE129dA02F62711B404Bb1E1aA97650A958b821</pre>工作人员验证交易后即会发回ETH。</p>
                  <p>目前退币操作分成批次进行，请耐心等待，一般在收到发回的ATT后的24小时内会完成退币操作。</p>

                </div>
              </div>

              <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                  <p>官方合作渠道包括：</p>
                  <ul>
                    <li><a href="https://ico.info" target="_blank">ICOINFO</a> (ETH, BTC, EOS)</li>
                    <li><a href="https://www.btc9.com/Ico/Ico/details/id/36.html" target="_blank">币投资</a> (ETH)</li>
                    <li><a href="https://btcc.com/att" target="_blank">BTCC</a> (ETH)</li>
                    <li><a href="https://www.coinvc.com/project/show/598bc2f7eba3900a7bb32fa1" target="_blank">coinvc</a> (ETH)</li>
                    <li><a href="http://www.icorace.com/product/list/0" target="_blank">ICORace</a> (ETH)</li>
                    <li><a href="https://www.3ico.com/fe/project/5.html" target="_blank">3ICO</a> (ETH)</li>
                  </ul>
                  <p>通过合作渠道参与智能矩阵代币ATT公开售卖的参与者，可以前往参与平台进行退币操作，按照各个合作渠道原ICO兑换比例(660ATT=1ETH, 9069ATT=1BTC, 3.60ATT=1EOS )为参与者返还相应数额的数字资产。Atmatrix正与各合作渠道完成退币和交割，并由合作渠道原路退币给参投者。具体退币操作流程，请参见各平台公告。</p>
                </div>
              </div>

              <div id="tab-3" class="tab-pane">
                <div class="panel-body">

                  <div>
                    <p>为简化操作，ATMATRIX-ORG账户将在比特股内盘按照ICO时的售价3.049bitCNY放置买单回购，ICO用户可以通过卖出ATMATRIX资产给ATMATRIX-ORG的方式退出。</p>

                  </div>

                </div>
              </div>

            </div> <!-- tab-content -->

          </div>

        </div>
      </div>



    </div>


  </div>
</section>
